{% extends 'portfolio/base.html'%}
{% block content %}
<div class="container text-center">
    <h1>Olive's Homebase</h1>
    {% load static %}
    <img src="{% static 'portfolio/2GamerCats.png' %}" height=400 width=400>
    <br>
    <a href="{% static 'portfolio/resume.pdf' %}">Resume</a>
    </br>
    <br>
    <h2>Projects</h2>
    </br>
    {% for project in projects %}
    {% if project.url %}
    <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>
    {% else %}
    <h2>{{ project.title }}</h2>
    {% endif %}
    
    <p1>{{ project.description }}</p1>
    <br>
    <img src="{{ project.image.url }}" height=200 width=200>


    {% endfor %}
    <br>
    <a href="{% url 'blog:all_blogs' %}">Blogs</a>
    </br>
</div>
{% endblock %}